@media only screen and (min-width: 768px) {
  .hero-banner {
    width: 544px;
  }

  .hero-text {
    margin: auto;
  }

  .tagline {
    width: 100%;
  }

  .description {
    font-weight: 600;
    padding-bottom: 4rem;
  }

  .email-form {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .input-alert-div {
    margin-right: 2rem;
    flex-direction: column;
    margin-bottom: 0;
  }

  .input-alert-div input {
    margin-bottom: 1rem;
  }

  .alert {
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
  }

  .alert-icon {
    width: 1.25rem;
    margin-right: 0.5rem;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .links {
    padding-bottom: 0rem;
  }

  .links a {
    font-size: 1rem;
  }

  .links a:first-child {
    margin-right: 2rem;
  }

  .icons img {
    width: 25px;
  }
}

@media only screen and (min-width: 1175px) {
  .hero-banner {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
  }

  .hero-image {
    width: 40%;
    padding: 0;
  }

  .hero-text {
    width: 50%;
    margin: 0;
  }

  .tagline {
    font-size: 3rem;
  }

  .email-form {
    justify-content: start;
  }
}

@media only screen and (min-width: 1366px) {
  .tagline {
    font-size: 3.5rem;
  }
}
