footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.25rem 2rem;
  border-top: 2px solid var(--secondary-color);
  padding-bottom: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.links a {
  font-family: "Saira", sans-serif;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
}

.links a:hover {
  text-decoration: underline;
  cursor: default;
}

.icons {
  display: flex;
  justify-content: flex-start;
  padding-top: 0.5rem;
  width: 60%;
  border-top: 2px solid var(--border-color);
}

.icons img {
  width: 20px;
}

.icons img:first-child {
  margin-right: 1rem;
}
