footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1.25rem 2rem;
	border-top: 2px solid var(--border-color);
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 1rem;
	width: 100%;
}

.links a {
	font-family: "Saira", sans-serif;
	text-decoration: none;
	color: var(--secondary-color);
	font-size: 0.75rem;
	font-weight: 300;
}

.links a:hover {
	text-decoration: underline;
	cursor: default;
}

.icons {
	display: flex;
	justify-content: flex-start;
}

.icons img {
	width: 20px;
}

.icons img:first-child {
	margin-right: 1rem;
}
